@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@500&display=swap');

#root, html, body{
    height: 100vh;
}
body{
    margin: 0;
    background-color: #dbe2ef;
}

*{
    box-sizing: border-box;
}
html{
    scroll-behavior: smooth;
}